div.cloud-bkg {
	height: 300px;
	font-family: "Courier New", Courier, monospace;
}

div.cloud0 {
	position: absolute;
	left: 10%;
	top: 20%;
}

div.cloud1 {
	position: absolute;
	left: 50%;
	top: 20%;
}

.gear0 {
	position: absolute;
	left: 100px;
	top: 30px;
	width: 50px;
	height: 50px;
	animation: spin 3s linear infinite;
}

.gear1 {
	position: absolute;
	left: 0;
	top: 35px;
	width: 60px;
	height: 60px;
	animation: spin 1.5s linear infinite;
}

.gear2 {
	position: absolute;
	left: 55px;
	top: 0px;
	width: 75px;
	height: 75px;
	animation: spin 20s linear infinite;
}

.gear3 {
	position: absolute;
	left: 30px;
	top: 15px;
	width: 75px;
	height: 75px;
	animation: spin0 9s linear infinite;
}

.gear4 {
	position: absolute;
	left: 70px;
	top: 50px;
	width: 40px;
	height: 40px;
	animation: spin 0.2s linear infinite;
}

.gear5 {
	position: absolute;
	left: 2px;
	top: 25px;
	width: 45px;
	height: 45px;
	animation: spin0 0.2s linear infinite;
}

.gear6 {
	position: absolute;
	left: 20px;
	top: 0px;
	width: 75px;
	height: 75px;
	animation: spin 3s linear infinite;
}

.gear7 {
	position: absolute;
	left: 60px;
	top: 20px;
	width: 60px;
	height: 60px;
	animation: spin0 9s linear infinite;
}

.cloud-i div {
	z-index: 0;
}

.cloud-i center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	font-weight: bold;
	z-index: 3;
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes spin0 {
	0% {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}

div.hint {
	position: absolute;
	opacity: 0;
	transition: 0.5s ease-in-out;
}

div.hint:hover {
	opacity: 1;
}

div.hint p {
	position: absolute;
	color: #ffffff;
	font-weight: bold;
}

div.hint-i {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

div.hint.control-enable {
	left: 0;
	top: 50%;
	min-width: 40%;
	overflow: shown;
}

div.hint.control-connect {
	left: 0;
	top: 68%;
	min-width: 40%;
	overflow: shown;
}

div.hint.info-status {
	right: 0;
	bottom: 3%;
	min-width: 25%;
	min-height: 20%;
}











