.asm, .asm div {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
}

.asm .val {
	color: #ff0000;
}

.asm .comment {
	color: #008000;
	font-style: italic;
}

.asm .insn {
	color: #0000ff;
	font-weight: bold;
}

.asm .insa {
	color: #0000ff;
}

.asm .data {
	color: #0000ff;
	font-style: italic;
	font-weight: bold;
}
