div.top-o {
	background-color: #44444a;
	border-bottom: 2px solid #737385;
}

div.page-w-split {
	background-color: #737385;
}

div.page-w {
	background-color: #44444a;
	color: white;
}

body {
	background-color: #44444a;
}

.content-o-h {
	color: white;
}

.select-bar {
	background-color: #44444a;
	border-bottom: 2px solid #737385;
}

.select-desc, .select-optn {
	border-right: 2px solid #737385;
	background-color: #44444a;
	transition: 0.25s ease-in-out;
}

.select-optn.on {
	background-color: #0000aa;
}

.select-optn:hover, div.page-w:hover {
	background-color: #755800;
	color: #ffbf00;
	cursor: pointer;
}

.select-optn.on:hover {
	background-color: #0000aa;
	color: #ffbf00;
	cursor: pointer;
}

.debugger {
	border-left: 2px solid #737385;
}

.cpuview {
	border-bottom: 2px solid #737385;
}

.open-tab {
	border-top: 1px solid #737385;
}

.tab-handle {
	border-left: 1px solid #737385;
	border-right: 1px solid #737385;
}

.tab-handle-active {
	border-left: 1px solid #737385;
	border-right: 1px solid #737385;
	height: 23px;
}

.tab-handle-active .tab-handle-close {
	background-color: #dd0033;
	border-radius: 50%;
}

.tab-handle .tab-handle-close {
	background-color: #66666f;
	border-radius: 50%;
}

.tab-handle-close:hover {
	background-color: #ff7777;
	border-radius: 50%;
	cursor: pointer;
}

.open-tab:focus {
	outline: none;
}

.open-tab.asm {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
}












