
.insn-def {
	position: relative;
	border-radius: 10px;
	background-color: #f7f7f7;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.insn-def .args-edit input[type=checkbox] {
	position: relative;
	bottom: -3px;
	left: -3px;
	height: 15px;
}

.insn-def .args-edit input[type=number] {
	width: 40px;
}

.insn-def span {
	margin-top: 0;
	margin-bottom: 0;
}

.insn-def .hex-in {
	width: 50px;
}

.insn-def .name-in {
	width: 50%;
}

.insn-def textarea {
	width: 50%;
	height: 100px;
}

.insn-arg {
	display: inline-block;
	border-radius: 3px;
	background-color: #e7e7e7;
	padding-left: 5px;
	padding-right: 5px;
	color: #000000;
	font-weight: bold;
}

.insn-def .edit {
	position: absolute;
	top: 10px;
	right: 10px;
}

.insn-def .delete {
	position: absolute;
	top: 10px;
	right: 60px;
}

.isa-sort {
	width: 80px;
}
