
div.proj-hier-h {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 50px;
	overflow: auto;
}

div.proj-h-cat {
	position: absolute;
}

div.proj-h-entry {
	position: absolute;
	height: 20px;
}

div.proj-prev-o {
	position: relative;
	width: 100%;
	height: 175px;
}

div.proj-prev-i {
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	border-radius: 5px;
	background-color: #f0f0f0;
	overflow: hidden;
}

div.proj-prev-img-o {
	position: absolute;
	left: 0;
	top: -200%;
	bottom: -200%;
	width: 300px;
	overflow: hidden;
}

img.proj-prev-img-i {
	position: absolute;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

p.proj-prev-read {
	position: absolute;
	left: -200px;
	bottom: 0;
	color: white;
}

p.proj-prev-status {
	position: absolute;
	left: 0px;
	bottom: 7px;
	margin: 0;
}

div.proj-prev-desc-o {
	position: absolute;
	left: 310px;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	transition: 0.5s;
}

div.proj-prev-desc-i {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
}

div.proj-prev-desc-f {
	position: absolute;
	width: 10px;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	background-image: linear-gradient(to right, rgba(240,240,240,0), rgba(240,240,240,1), rgba(240,240,240,1));
}

h3.proj-prev-title {
	margin-top: 5px;
	margin-bottom: 0;
}

p.proj-prev-desc {
	margin: 0;
}





